.tableau2location {
    position: absolute;
    bottom: 433px;
    height: 25%;
    width: 100%;
    left: 850px;
    right: 5px;
    text-align: center;
}

.tableau3location {
    position: absolute;
    bottom: 350px;
    height: 25%;
    width: 100%;
    left: 0px;
    right: 5px;
    text-align: center;
}

.tableau4location {
    position: absolute;
    bottom: 782px;
    height: 25%;
    width: 100%;
    left: 850px;
    right: 5px;
    text-align: center;
}

.tableautext1 {
    color: white;
    text-align: left;
    position: absolute;
    left: 175px;
    font-size: 25px;
    background-color: grey;
}

.tableautext2 {
    color: white;
    text-align: left;
    position: absolute;
    left: 950px;
    bottom: -17%;
    font-size: 25px;
    background-color: grey;
}

.tableautext3 {
    color: white;
    text-align: left;
    position: absolute;
    left: 125px;
    bottom: -80%;
    font-size: 25px;
    background-color: grey;
}

.tableautext4 {
    color: white;
    text-align: left;
    position: absolute;
    left: 950px;
    bottom: -90%;
    font-size: 25px;
    background-color: grey;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap;
  }

body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(../assets/images/Background\ img.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .intro .intro-img {
    width: 50%;
    float: right;
  }
  

  #mainNav {
    background-color: rgba(47, 23, 15, 0.9);
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  #mainNav .navbar-brand {
    color: #e6a756;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: #e6a756;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }